@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #333647;
    --theme-color: #F87652;
    --secondary-color: #bbbbbb;
}

* {
    font-family: 'Poppins', sans-serif;
}
.theme{
    color: var(--theme-color);
}

body {
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
td,
a,
img {
    cursor: pointer;
}

canvas.particles-js-canvas-el {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1000;
    margin: 0;
}

/* Navbar */
.nav_section .navbar-brand {
    font-size: 22px;
}

.nav_section .navbar-brand span {
    color: var(--theme-color);
}

.nav_section .navbar-nav li {
    margin: 0px 8px;
}

.nav_section .navbar-nav li a {
    color: white;
}

.nav_section .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}

.nav_section .navbar-nav .nav-link:hover::before {
    height: 2px;
    width: 17px;
}

.head-section{
    margin: 0px;
    padding: 0px;
}
.head-section .row {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.head-section .row h1,
h2,
h3,
p {
    color: white;
}

.head-section .row h3 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

.head-section .row h3::after {
    content: '';
    position: absolute;
    text-align: center;
    top: 280px;
    width: 90px;
    height: 2px;
    background-color: white;
    margin-left: 6px;
}

.head-section .row h1 {
    font-size: 65px;
    font-weight: 800;
}

.head-section .row h2 {
    font-size: 20px;
    font-weight: 100;
    margin: 0px;
}

.head-section .row p {
    font-size: 13px;
    margin-top: 13px;
    line-height: 21px;
    color: var(--secondary-color);
}

.head-section .row button {
    border-radius: 10px;
    font-size: 19px;
    color: white;
    background-color: var(--theme-color);
    border: 3px solid var(--theme-color);
    width: 113px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.head-section .row button:hover {
    animation: swing;
    animation-duration: 0.5s;
    background-color: white;
    color: black;
    border-color: white;
}

.head-section img {
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
}

/* About us styling */
.about_section{
    background-color: #282A39;
    padding: 200px 0px;
}

.about_section #heading{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 57px;
}

.about_section .lets_talk{
    color: white;
    font-weight: 400;
    margin-top: 14px;
}

.about_section #info_gmail{
    font-weight: 600;
    font-size: 15px;
    color: var(--theme-color);
    margin-top: 35px;
    word-spacing: 6px;
}

.about_section .contact_info{
    margin-top: 15px;
}

.about_section .contact_info h5{
    color: white;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 6px;
}

.about_section .about_me_right #txt{
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
    color: var(--secondary-color);
}

.about_section .about_me_right hr{
    margin: 0px;
    border: 0.5px solid var(--theme-color);
    width: 6rem;
}

.about_section .about_me_right table td{
    border: none;
    color: white;
    font-size: 13px;
}

.about_section .about_me_right button{
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: var(--theme-color);
    border: 3px solid var(--theme-color);
    font-family: 'Poppins',sans-serif;
    margin-top: 10px;
}

.about_section .about_me_right button:hover{
    animation: swing;
    animation-duration: 0.5s;
    background-color: white;
    color: black;
    border-color: white;

}






/* Media Queries */
@media (max-width:1200px) and (min-width:993px) {
    .head-section .row h1 {
        font-size: 58px;
    }
}

@media (max-width:993px) and (min-width:763px) {
    .head-section .row h1 {
        font-size: 42px;
    }

    .head-section .row h2 {
        font-size: 15px;
    }

    .head-section .row h3 {
        font-size: 15px;
    }

    .head-section .row p {
        font-size: 11px;
    }

    .head-section .row button {
        font-size: 15px;
    }


    /* about section */
    .about_section .about_me_right #txt{
        font-size: 12px;
    }
    .about_section #heading{
        font-size: 27px;
    }

}

@media (max-width:763px) {
    .head-section {
        margin: 2px 0px;
    }

    .head-section .row h1 {
        font-size: 40px;
        text-align: center;
    }

    .head-section .row h2 {
        font-size: 15px;
        text-align: center;
    }

    .head-section .row h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 0px;
    }

    .head-section .row h3::after {
        width: 0px;
    }

    .head-section .row p {
        font-size: 11px;
        text-align: center;
    }

    .head-section .btn-container {
        justify-content: center;
        text-align: center;
    }

    .head-section .btn-container button {
        width: 100px;
        height: 43px;
        font-size: 15px;
        text-align: center;
    }

    .head-section .row button {
        font-size: 15px;
    }

    .head-section img {
        width: 70%;
        margin-top: 2px;
    }
}