@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #333647;
    --theme-color: #F87652;
}

* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: var(--background-color);
}

/* Navbar */
.nav_section .navbar-brand {
    font-size: 22px;
}

.nav_section .navbar-brand span {
    color: var(--theme-color);
}

.nav_section .navbar-nav li {
    margin: 0px 8px;
}

.nav_section .navbar-nav li a {
    color: white;
}

.nav_section .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: 0.5s;
}

.nav_section .navbar-nav .nav-link:hover::before {
    height: 2px;
    width: 17px;
}

.head-section .row {
    display: flex;
    align-items: center;
    height: 100hv;
}

.head-section .row h1,
h2,
h3,
p {
    color: white;
}

.head-section .row h3 {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
}

.head-section .row h3::after {
    content: '';
    position: absolute;
    text-align: center;
    top: 70px;
    width: 90px;
    height: 2px;
    background-color: white;
    margin-left: 6px;
}

.head-section .row h1 {
    font-size: 65px;
    font-weight: 800;
}

.head-section .row h2 {
    font-size: 20px;
    font-weight: 100;
    margin: 0px;
}

.head-section .row p {
    font-size: 13px;
    margin-top: 13px;
}

.head-section img {
    width: 10%;
    padding-top: 10px;
}